<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/default.css" type="text/css">
    <title>Binghamton Student Guide</title>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <p>Welcome To The Binghamton Student Guide</p>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
      <div id="footer" class="span-24">
        <p>CS 545</p>
      </div>
    </div>
  </body>
</html>
